.unity-text-element {
    -unity-font-definition: url("project://database/Assets/FontLibrary/UIToolkit/SourceHanSansCN-Medium%20SDF.asset?fileID=11400000&guid=500f473f880266d43aaf04a728879085&type=2#SourceHanSansCN-Medium SDF");
}
